@using OnlineBookStore.Assets.Constant;
<!--
author: W3layouts
author URL: http://w3layouts.com
License: Creative Commons Attribution 3.0 Unported
License URL: http://creativecommons.org/licenses/by/3.0/
-->
<!DOCTYPE html>
<html>
<head>
    <title>Nhà sách Trí Tuệ</title>
    <!-- for-mobile-apps -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="keywords" content="Grocery Store Responsive web template, Bootstrap Web Templates, Flat Web Templates, Android Compatible web template,
Smartphone Compatible web template, free webdesigns for Nokia, Samsung, LG, SonyEricsson, Motorola web design" />
    <script type="application/x-javascript">
        addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false);
               function hideURLbar(){ window.scrollTo(0,1); } </script>
    <!-- //for-mobile-apps -->
    <link href="/Assets/Client/css/bootstrap.css" rel="stylesheet" type="text/css" media="all" />
    <link href="/Assets/Client/css/style.css" rel="stylesheet" type="text/css" media="all" />
    <!-- font-awesome icons -->
    <link href="/Assets/Client/css/font-awesome.css" rel="stylesheet" type="text/css" media="all" />
    <!-- //font-awesome icons -->
    <!-- js -->
    <script src="/Assets/Client/js/jquery-1.11.1.min.js"></script>
    <script src="/Scripts/jquery.validate.min.js"></script>
    <script src="/Scripts/jquery.validate.unobtrusive.min.js"></script>
    <!-- //js -->
    <link href='//fonts.googleapis.com/css?family=Ubuntu:400,300,300italic,400italic,500,500italic,700,700italic' rel='stylesheet' type='text/css'>
    <link href='//fonts.googleapis.com/css?family=Open+Sans:400,300,300italic,400italic,600,600italic,700,700italic,800,800italic' rel='stylesheet' type='text/css'>
    <!-- start-smoth-scrolling -->
    <script type="text/javascript" src="/Assets/Client/js/move-top.js"></script>
    <script type="text/javascript" src="/Assets/Client/js/easing.js"></script>
    <script type="text/javascript">
        jQuery(document).ready(function ($) {
            $(".scroll").click(function (event) {
                event.preventDefault();
                $('html,body').animate({ scrollTop: $(this.hash).offset().top }, 1000);
            });
        });
    </script>
    <!-- start-smoth-scrolling -->
    @RenderSection("header", false)
    <style>
        .w3l_header_right {
            text-align:center !important;
            color:white !important;
            margin-top: 18px !important;
            padding-left:0px !important;
            margin-left:20px !important;
        }
        .w3l_header_right1 {
            margin-right:10px !important;
        }
        .w3l_search {
            margin-left: 450px !important;
        }
        .product_list_header {
            margin-left: 20px !important;
        }
        .w3ls_logo_products_left {
            height: 40px !important;
            padding-top:5px;
        }
        .w3ls_logo_products_left1 {
            margin-top: 0.5em !important;
        }
    </style>
    @{
        var session = Session[Constant.CUSTOMER_SESSION];
    }
</head>

<body>
    <!-- header -->
    <div class="agileits_header" style="padding-left: 200px;height:44.6px;">
        <div class="w3l_search">
            @using (Html.BeginForm("SearchBooks", "Product", routeValues: null, method: FormMethod.Get))
            {
                @Html.TextBox("nameBook", (string)ViewBag.nameBook, new { @placeholder = "Từ khóa tìm kiếm", @autocomplete = "off" })
                <input type="submit" value="">
            }
        </div>
        <div class="product_list_header">
            @using (Html.BeginForm("Index", "Cart", method: FormMethod.Post))
            {
                <input type="submit" value="Xem giỏ hàng" class="button" />
            }
        </div>
        <div class="w3l_header_right">

            @if (session != null)
            {
                <h5>Xin chào: @session </h5>
            }
            else
            {
                <h5>Vui lòng đăng nhập</h5>
            }
        </div>
        <div class="w3l_header_right1">
            <ul>
                <li class="dropdown profile_details_drop">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="fa fa-user" aria-hidden="true"></i><span class="caret"></span></a>
                    <div class="mega-dropdown-menu">
                        <div class="w3ls_vegetables">
                            <ul class="dropdown-menu drp-mnu">
                                @if (session == null)
                                {
                                    <li><a href="/dang-ky">Đăng ký</a></li>
                                    <li><a href="/dang-nhap">Đăng nhập</a></li>
                                }
                                else
                                {
                                    <li><a href="/thong-tin-ca-nhan">Thông tin</a></li>
                                    @*<li>@Url.Action("viewProfile","User",new { username = session })</li>*@
                                    <li><a href="/Login/Logout">Đăng xuất</a></li>
                                }
                            </ul>
                        </div>
                    </div>
                </li>
            </ul>
        </div>
        <div class="clearfix"> </div>
    </div>
    <!-- script-for sticky-nav -->
    <script>
        $(document).ready(function () {
            var navoffeset = $(".agileits_header").offset().top;
            $(window).scroll(function () {
                var scrollpos = $(window).scrollTop();
                if (scrollpos >= navoffeset) {
                    $(".agileits_header").addClass("fixed");
                } else {
                    $(".agileits_header").removeClass("fixed");
                }
            });

        });
    </script>
    <!-- //script-for sticky-nav -->
    <div class="logo_products">
        <div class="container">
            <div class="w3ls_logo_products_left">
                <a href="/trang-chu">Nhà sách Trí Tuệ</a>
            </div>
            @{ Html.RenderAction("_MainMenu", "Home");}
            <div class="clearfix"> </div>
        </div>
    </div>
    <!-- //header -->
    <!-- products-breadcrumb -->
    <div class="products-breadcrumb">
        <div class="container">
            <ul>
                <li><i class="fa fa-home" aria-hidden="true"></i><a href="/trang-chu">Trang chủ</a><span>|</span></li>
                <li>@RenderSection("category", false) </li>
            </ul>
        </div>
    </div>
    <!-- //products-breadcrumb -->
    <!-- banner -->
    <div class="banner">
        <div class="w3l_banner_nav_left">
            <nav class="navbar nav_bottom">
                <!-- Brand and toggle get grouped for better mobile display -->
                <div class="navbar-header nav_2">
                    <button type="button" class="navbar-toggle collapsed navbar-toggle1" data-toggle="collapse" data-target="#bs-megadropdown-tabs">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                </div>
                <!-- Collect the nav links, forms, and other content for toggling -->
                @{Html.RenderAction("_Categorys", "Home");}
                <!-- /.navbar-collapse -->
            </nav>
        </div>
        <div class="w3l_banner_nav_right">
            @RenderBody()
        </div>
        <div class="clearfix"></div>
    </div>
    <!-- //banner -->
    <!-- newsletter -->
    <div class="newsletter">
        <div class="container">
        </div>
    </div>
    <!-- //newsletter -->
    <!-- footer -->
    <div class="footer">
        <div class="container">
            <div class="col-md-3 w3_footer_grid">
                <h3>Giới thiệu</h3>
                <ul class="w3_footer_grid_list">
                    <li><a href="/gioi-thieu">Giới thiệu về OnlineBookShop</a></li>
                    <li><a href="/chinh-sach">Chính sách bảo mật</a></li>
                    <li><a href="/lien-he">Liên hệ</a></li>
                </ul>
            </div>
            <div class="col-md-3 w3_footer_grid">
                <h3>Tài khoản của bạn</h3>
                <ul class="w3_footer_grid_list">
                    <li><a href="#">Lịch sử đơn hàng</a></li>
                    <li><a href="#">Quên mật khẩu</a></li>
                    <li><a href="/thong-tin-ca-nhan">Thông tin tài khoản</a></li>
                </ul>
            </div>
            <div class="col-md-3 w3_footer_grid">
                <h3>Hướng dẫn và trợ giúp</h3>
                <ul class="w3_footer_grid_list">
                    <li><a href="#">Hướng dẫn đăng ký tài khoản</a></li>
                    <li><a href="#">Hướng dẫn đăng nhập tài khoản</a></li>
                    <li><a href="#">Hướng dẫn mua eBook</a></li>
                    <li><a href="#">Hướng dẫn nạp tiền</a></li>
                    <li><a href="/chinh-sach">Câu hỏi thường gặp</a></li>
                </ul>
            </div>
            <div class="col-md-3 w3_footer_grid">
                <h3>Google+</h3>

            </div>
            <div class="clearfix"> </div>
            <div class="agile_footer_grids">
                <div class="col-md-3 w3_footer_grid agile_footer_grids_w3_footer" style="align-items:center;">
                    <div class="w3_footer_grid_bottom">
                        <h5>Liên hệ với chúng tôi</h5>
                        <ul class="agileits_social_icons">
                            <li><a href="#" class="facebook"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
                            <li><a href="#" class="twitter"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
                            <li><a href="#" class="google"><i class="fa fa-google-plus" aria-hidden="true"></i></a></li>
                            <li><a href="#" class="instagram"><i class="fa fa-instagram" aria-hidden="true"></i></a></li>
                            <li><a href="#" class="dribbble"><i class="fa fa-dribbble" aria-hidden="true"></i></a></li>
                        </ul>
                    </div>
                </div>
                <div class="clearfix"> </div>
            </div>
            <div class="wthree_footer_copy">
                <p>Nhà sách Trí Tuệ - 2017 - Xây dựng và phát triển bởi Haubv95 và NgoHoang </p>
            </div>
        </div>
    </div>
    <!-- //footer -->
    <!-- Bootstrap Core JavaScript -->
    <script src="/Assets/Client/js/bootstrap.min.js"></script>
    <script>
$(document).ready(function(){
    $(".dropdown").hover(
        function() {
            $('.dropdown-menu', this).stop( true, true ).slideDown("fast");
            $(this).toggleClass('open');
        },
        function() {
            $('.dropdown-menu', this).stop( true, true ).slideUp("fast");
            $(this).toggleClass('open');
        }
    );
});
    </script>
    <!-- here stars scrolling icon -->
    <script type="text/javascript">
		$(document).ready(function() {
			/*
				var defaults = {
				containerID: 'toTop', // fading element id
				containerHoverID: 'toTopHover', // fading element hover id
				scrollSpeed: 1200,
				easingType: 'linear'
				};
			*/
			$().UItoTop({ easingType: 'easeOutQuart' });

			});
    </script>
    <!-- //here ends scrolling icon -->
    <script src="/Assets/Client/js/minicart.min.js"></script>
    <script>
	// Mini Cart
	paypal.minicart.render({
		action: '#'
	});

	if (~window.location.search.indexOf('reset=true')) {
		paypal.minicart.reset();
	}
    </script>
    <script src="/Scripts/CartController.js"></script>
    @RenderSection("jsFooter", false)
</body>
</html>